.primary-bg{
    background-color:#21DADB;
 }
 
.secondary-bg{
    background-color:#35BBDF;
}

.tertiary-bg{
    background-color:#4D94E6;
}

.white-bg{
    background-color: #ffffff;
}

.primary-txt{
    color: #21DADB;
}

.black-txt{
    color: #000000;
}

.white-txt{
    color: #ffffff;
}

.primary-gradient{
    background-image: linear-gradient(to right, white , #35BBDF);
}