.hero{
    width: 100%;
    height: 100vh; 
}

.hero-left-section{
    width: 50%;
    height: 100%;
    padding: 50px 40px 10px;
    text-align: center;
    justify-content: center;
    gap: 30px;
    
}
.hero-title{
    font-size: 27px;
    font-weight: bold;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.hero-subtitle{
    font-size: 14px;
    word-spacing: 2px;
    letter-spacing: 1px;
}


.hero-right-section{
    width: 50%;
    height: 100%; 
    overflow: hidden;
    padding-top: 50px;
}

.hero-right-section>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-btn{
    font-weight: bold;
}

.cards-container{
    width: 100%;
    height: auto;
}

.cards-title{
    font-size: 25px;
    letter-spacing: 2px;
    padding: 15px;
    height: 100px;
}

.cards{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    height: 270px;
    font-size: 12px;
    border-top: 0.5px solid #21DADB;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.card>img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.card>h2{
    color: #4D94E6;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 3px 3px #21DADB;
  }

.partner-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
  
.paragraph-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(#35BBDF,white);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.paragraph-card:hover {
    transform: translateY(-10px);
}
  
.paragraph-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
  
.paragraph-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
  
.partner-section>div>h3{
    color: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 20%;
    gap: 30px;
    padding: 100px;
}

.footer>h3{
    font-size: 30px;
}

.footer span{
    font-size: 18px;
    font-weight: bold;
}